    <!-- COMMON TAGS -->

    {{ $pagedata := .Page}} 

    <meta charset="utf-8">
    <title>#everyonecancontribute</title>
    <!-- Search Engine -->
    <meta name="image" content="{{ .Site.BaseURL }}/socialmedia.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="#everyonecancontribute">
    <meta itemprop="image" content="{{ .Site.BaseURL }}/socialmedia.jpg">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    {{ if .Params.title }}
    <meta name="twitter:title" content="{{ .Params.title }}">
    <meta name="og:title" content="{{ .Params.title }}">
    {{ else }}
    <meta name="twitter:title" content="#everyonecancontribute">
    <meta name="og:title" content="#everyonecancontribute">
    
    {{ end }}

    {{ if .Params.title }}
    <meta name="twitter:description" content="{{ substr $pagedata.Content 0 180 | plainify | htmlUnescape }} ...">
    <meta name="og:description" content="{{ substr $pagedata.Content 0 180 | plainify | htmlUnescape }} ...">
    <meta name="description" content="{{ substr $pagedata.Content 0 180 | plainify | htmlUnescape }} ...">
    <meta itemprop="description" content="{{ substr $pagedata.Content 0 180 | plainify | htmlUnescape }} ...">
    {{ else }}
    <meta name="twitter:description" content="Everyone is welcome, everyone can contribute, everyone is unique and these are your strengths too!">
    <meta name="og:description" content="Everyone is welcome, everyone can contribute, everyone is unique and these are your strengths too!">
    <meta name="description" content="Everyone is welcome, everyone can contribute, everyone is unique and these are your strengths too!">
    <meta itemprop="description" content="Everyone is welcome, everyone can contribute, everyone is unique and these are your strengths too!">
    {{ end }}

    <meta name="twitter:site" content="@dnsmichi">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    
    <meta name="og:image" content="{{ .Site.BaseURL }}/socialmedia.jpg">
    <meta name="image" property="og:image" content="{{ .Site.BaseURL }}/socialmedia.jpg">
    <meta name="og:url" content="{{ .Site.BaseURL }}">
    <meta name="og:site_name" content="#everyonecancontribute">
    <meta name="og:type" content="website">
