<section id="home" class="d-flex align-items-center position-relative hero" style="background-image:url(/background.jpg);">
    <div class="container-fluid container-fluid-max">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <h1 class="text-white">Everyone is welcome, everyone can contribute, everyone is unique and these are your strengths too!</h1>
                <!--
                <div class="mt-3">
                    <a class="btn bg-red text-white mr-2" href="" role="button">Book Now</a>
                    <a class="btn bg-red text-white" href="" role="button">Select Your Package</a>
                </div>
                -->
            </div>
            <section id="section07" class="demo">
                <a href="#blog"><span></span><span></span><span></span></a>
              </section>
        </div>
    </div>
</section>